<div class="card-hotel">

  <!-- IMAGEM -->
  <div class="hotel-imagem">

    <img [src]="imagemHotel()" [alt]="hotel?.NOME">

  </div>


  <!-- DADOS DO HOTEL -->
  <div class="hotel-dados">

    <h2>
      {{ hotel?.NOME }}
    </h2>

    <span class="hotel-categoria">
      {{ hotel?.CATEGORIA }} - {{ hotel?.TIPO }}
    </span>

    <div class="hotel-avaliacao">
      {{ hotel?.AVALIACAO }}
    </div>


    <div class="hotel-cancelamento">
      Verifique as Condições de Cancelamento
    </div>

  </div>


  <!-- VALOR -->
  <div class="hotel-valor">

    <div class="linha-valor">

      <span class="quantidade-noites">
        {{ quantidadeNoites() }} noites
      </span>

      <span class="valor-label">
        a partir de
      </span>

    </div>

    <strong>
      R$ {{ valorTotal() | number:'1.2-2' }}
    </strong>

    <small>
      Podem existir taxas de turismo e/ou estacionamento
    </small>

    <button type="button" class="ver-hotel">

      VER HOTEL

    </button>

  </div>

</div>